@page "/Registro/Index"
@using P1_AP_RomelOrtega.Models
@using P1_AP_RomelOrtega.Services
@inject RegistroService RegistroService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Registro</PageTitle>

<div >

</div>